.author-info {
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
}

.author-date-name {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.author-date-name > span:not(.highlighted) {
    color: var(--grey-light);
    font-size: 14px;
}

.post-title {
    color: var(--grey-dark-1);
    font-size: 24px;
    font-weight: 700;
}

.post-text {
    color: var(--grey-dark);
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}

.post-card-text-content {
    padding: 30px;
    gap: 30px;
}

.social-media {
    gap: 15px;
    display: flex;
}