.footer-container {
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--footer-bg);
    padding-top: 2vh;
    padding-bottom: 2vh;    
    padding-left: 2vw;
    padding-right: 2vw;
    box-sizing: border-box;
    max-height: 15vh;
    align-items: center;
}

.footer-img-container{
    flex: 1;
    height: 4vh;
}

.footer-img-container > img{
    height: 100%;
}


.footer-container > span {
    font-weight: 400;
    font-size: 16px;
    color: var(--grey-light);
}