:root {
  --grey-dark: #58595d;
  --grey-dark-1: #18191e;
  --grey-light: #58595d;
  --green-dark: #07a46c;
  --green-light: #daf2ec;
  --pink: #e04c85;
  --bg-color: #ffff;
  --footer-bg: #ececf4;
}
