:root {
    --grey-dark: #58595D;
    --grey-dark-1: #18191E;
    --grey-light: #58595D;
    --green-dark: #07a46c;
    --green-light: #daf2ec;
    --pink: #E04C85;
    --bg-color: #ffff;
    --footer-bg: #ECECF4;
  }