

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  font-family: "Inter", sans-serif;
}

.read-the-docs {
  color: #888;
}

.highlighted {
  color: #E04C85 !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

